<div class="about row">

    <div class="col-md-8">

        <h2>About me</h2>

        <p>2014年，因安卓的不完善与开放，接触到了刷ROM与安卓系统美化</p>
        <p>2015年，，，上课不听讲让我想到了未来，在刷机与反编译Apk的前提下了解到了Java</p>
        <p>同年大学选择了安卓专业</p>
        <p>至今近3年工作经验，其中2年工作重心偏前端</p>

        <h2>Contact</h2>

        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
            <li>WX：<strong>{{ site.wx }}</strong></li>
        </ul>

        <h2>Skill Keywords</h2>

        {% if site.skill_software_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Software Engineer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_software_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_j2ee_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">J2EE Developer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_j2ee_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}
<!--        {% if site.skill_mobile_app_keywords %}-->
<!--        <div class="panel panel-default">-->
<!--            <div class="panel-heading">-->
<!--                <h3 class="panel-title">Mobile Developer Keywords</h3>-->
<!--            </div>-->
<!--            <div class="panel-body">-->
<!--                {% for keyword in site.skill_mobile_app_keywords %}-->
<!--                <button class="btn btn-default" type="button">{{ keyword }}</button>-->
<!--                {% endfor %}-->
<!--            </div>-->
<!--        </div>-->
<!--        {% endif %}-->

        {% if site.skill_web_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Web Developer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_web_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>
